

<div data-role="header">
  <h1>Listing Items</h1>
  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">




    <% @lists.each do |list| %>


        <li>
          <%= link_to list.item, list %>
          <span class="ui-li-count"> <%=number_to_currency(list.price,:unit=>"£")%> </span>
        </li>

    <% end %>
  </ul>


  <!-- end .content --></div>

